<launch>
  <arg name="razor_config_file1" default="$(find razor_imu_9dof)/config/razor1.yaml"/>
  <arg name="razor_config_file2" default="$(find razor_imu_9dof)/config/razor2.yaml"/>

  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node1" ns="ns1" output="screen">
    <rosparam file="$(arg razor_config_file1)" command="load"/>
  </node>

  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node2" ns="ns2" output="screen">
    <rosparam file="$(arg razor_config_file2)" command="load"/>
  </node>

</launch>
